.rotate, .rotate li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.rotate { position: absolute; }
.rotate li { display: block; }
.rotate h4, .rotate p { margin: 0; }
.rotateItem { padding: 0.5em 0; }
.ticker, .ticker li { position: relative; }
.ticker { overflow: hidden; }

.tickerPrevious, .tickerNext {}

