.title_tools.world_indices_tools,.title_tools.divisas{
	font-family: "Arial Black", Arial;
	font-weight: 900;
	text-transform: uppercase;
	color: #868686;
	background: none !important;
}
.title_tools.world_indices_tools > div,.title_tools.divisas > div{
	font-style: normal;
	padding-bottom: 15px;
	text-align: center;
}
.world_indices_tools:hover,.world_indices_tools:nth-of-type(odd):hover,.divisas:hover,.divisas:nth-of-type(odd):hover{
	background: #FDFFCE;
}
.title_tools.world_indices_tools .name_tools{
	text-align: left;
}
.world_indices_tools > div,.divisas > div{
	display: inline-block;
	margin-right: -3px;
	padding: 5px;
	text-align: center;
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.world_indices_tools:nth-of-type(odd),.divisas:nth-of-type(odd){
	background: #EAFFEA;
}
.name_tools{
	text-transform: uppercase;
	font-style: italic;
	font-size: 12px;
}

.cambio_p_tools[alt*="+"],.cambio_n_tools[alt*="+"]{
	color: #0080FF;
}
.cambio_p_tools[alt*="-"],.cambio_n_tools[alt*="-"]{
	color: #FF0000;
}
.align_left{
	text-align: left !important;
}
.bluecolor{
	color: #0080FF;
}
.dc_tools{
	font-style: Italica;
	font-size: 10px;
	color: #009999;